* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
}