@import url('https://fonts.cdnfonts.com/css/bankgothic-md-bt');



body{
    font-family: 'BankGothic Md BT', sans-serif;
    user-select: none;
    color: #fff;
}


body, html{
    overflow-x: hidden;
}


@media(width< 1080px){
    #cursor{
        display: none;
    }
}